* { margin: 0; padding: 0; box-sizing:border-box; }
body {
	background-color: #6EC288;
	font-family: 'Dosis', sans-serif;
}
nav {
	background-color: #FFFFFA; 
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
}
main {
	width:74%;
	margin:.5%;
	float:left;
}
aside {
	background-color: #ddd;
	float: left;
	width: 24%;
	margin: .5%;
	padding: 25em 1em;
}
section img {
	width: 100%;
}
.text-block {
	padding: 1em;
}
.text-block2 {
	padding: 1em;
}
a { 
	background-color: #FFFFFA;
	color: black;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}
a:hover {
	background-color: #EACE5B;
}
#hero {
	background: url(../images/beer-tap.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding:5em;
}
#primary {
	background-color: #FFFFFA;
	width:99%;
	padding: .5em;
	margin: .5%;
}

#secondary, #tertiary {
	background-color: #FFFFFA;
	float: left;
	width: 49%;
	margin: .5%;
	padding: .5em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
}
