* { margin: 0; padding: 0; box-sizing:border-box; }
body {
	background-color: #000000;
}
nav {
	background-color: #BBBDC0; 
	font-family: 'Cinzel', serif;
}
aside {
	background-color: white;
	display: block;
	float: right;
	width: 25%;
	height: 150px;
	margin: .5em;
	padding: .5em;
	overflow: scroll;
}
section img {
	width: 100%;
}
a { 
	background-color: #BBBDC0;
	color: black;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}
a:hover {
	background-color: #EACE5B;
}
#hero {
	background: url(../images/beer-shot.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding:5em 0;
}
#primary {
	background-color: #BBBDC0;
	display: block;
	float: left;
	width:74%;
	margin: .5%;
	padding: .5em;
}

#secondary {
	background-color: #BBBDC0;
	display: block;
	float: left;
	width: 35%;
	margin: .5%;
	padding: .5em;
}

#tertiary {
	background-color: #BBBDC0;
	display: block;
	float: left;
	width: 35%;
	margin: .5%;
	padding: .5em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
}
