* { margin: 0; padding: 0; border-box: 0; }
body {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	text-align: left;
}
nav {
	background-color: #003300;
	font-size: 1em;
}
nav a {
	background-color: #003300;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	float: left;
	padding: 20px;
}
a:hover {
	background-color: #9C9F84;
}
section {
	height:100vh;
	position:relative;
}
section>div {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
section#about {
	background-image: url(../images/fly-fisherman.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
section#fish-with-us {
	height:auto;
}
section#fish-with-us section {
	background-image: url(../images/fly-fisherman.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	float:left;
	padding:.1em;
	width:33.33%;
}
section#meet-the-captain {
	background-image: url(../images/meet-the-captain.png);
	background-size: cover;
	background-repeat: no-repeat;
}
section#rates {
	background-image: url(../images/fly-fisherman.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	margin-bottom:.5em;
	text-transform: uppercase;
}
ul {
	list-style-type: none;
}
#slogan {
	font-style: italic;
	font-size: 2em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
