* { margin: 0; padding: 0; box-sizing: border-box; }
body {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	text-align: left;
}
nav {
	background-color: #003300;
	font-size: 1em;
}
nav a {
	background-color: #003300;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	float: left;
	padding: 20px;
}
a:hover {
	background-color: #9C9F84;
}
body>section {
	height:100vh;
	position:relative;
}
section#about {
	background-image: url(../images/fly-fisherman.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
section#fish-with-us {
	height:auto;
}
section#fish-with-us section {
	background:#003300;
	float:left;
	margin:.5%;
	padding:5em 0;
	text-align:center;
	width:32.33%;
}
section#meet-the-captain {
	background-image: url(../images/meet-the-captain.png);
	background-size: cover;
	background-repeat: no-repeat;
}
section#rates {
	background-image: url(../images/fly-fisherman.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	margin-bottom:.5em;
	text-transform: uppercase;
}
ul {
	list-style-type: none;
}
#slogan {
	font-style: italic;
	font-size: 2em;
}
.cta {
	border:.2em solid #fff;
	display:inline-block;
	margin-top:1em;
	padding:1em 2em;
}
.centered {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.film {
	background:rgba(0,0,0,.5);
	height:100%;
	width:100%;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
